<% if obj.errors.any? %>
  <div class='row'>
    <div class="col-xs-8 col-xs-offset-2 ">
      <div class="alert alert-danger">
        <div class="alert-heading">
          <h2 class="alert-title">
            <%= pluralize(obj.errors.count, "error")%>
            probiheted this article from being saved:
          </h2>
          <div class="alert-body">
            <ul>
              <% obj.errors.full_messages.each do |msg|%>
                <li><%= msg %></li>
              <%end%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>