<h1>About Blog application</h1>
<p>In this Application User can create an artical, edit an article, and delete an article</p>
<p>User without login can view all article and users and create their own account to create an article</p>