

 <div class="header">
  <div class="main-container">
      <div class="row_home">
          <div class="col-2">
            <h1>My Blog</h1>
          </div>
          <div class="col-2">
            <h1> to create account</h1>
            <%= link_to "Sign up now", "#", class:"btn btn-primary btn-lg" %>
          </div>
      </div>
  </div>
</div> 

