@import "bootstrap";

#space {
  max-width: 62%;
  padding: 50px 0;
  padding-left: 6px;
  position: relative;
  left: 1rem;
}
.nav-link {
  font-size: 13px;
}
.navbar-brand {
  text-align: center;
}
.pagination {
  font-size: 13px;
  padding-left: 25rem;
}
.center {
  text-align: center;
}
.center-2 {
  font-size: 13px;
  padding-left: 14rem;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  border: 1px solid #ddd; /* Gray */
  transition: background-color 0.3s;
  margin: 0 4px;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.spacing {
  padding-bottom: 2rem;
}

.spacing-btn {
  padding-left: 1rem;
}
.article-title {
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 1rem;
  text-decoration: none;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-size: 13px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid;
  background-color: black;
  color: white;
  text-align: center;
}

.footer ul {
  float: right;
  list-style: none;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 1rem;
  font-size: 13px;
}

.listing {
  list-style: none;
  padding-left: 0;
}
.align {
  padding-left: 12rem;
}
.page {
  font-size: 13px;
  padding-left: 32rem;
}
//------------------------------------------

.main-container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row_home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 45rem;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 62%;
  padding: 50px 0;
  padding-left: 6px;
  position: relative;
  left: 13rem;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  color: #fff;
}

.btn {
  display: inline-block;
  background: #b16c1d;
  color: #fff;
  padding: 8px 30px;
  margin: 6px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #7a460b;
}
.header {
  background: rgb(209, 163, 14);
  background: linear-gradient(
    146deg,
    rgba(209, 163, 14, 1) 0%,
    rgba(29, 21, 1, 1) 52%
  );
  border-radius: 3rem;
}

@media only screen and (max-width: 1400px) {
  #gravatar {
    padding-left: 1rem;
  }
}
