.center {
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid;
  background-color: black;
  color: white;
  text-align: center;
}

// .footer small {
//   float: left;
//   text-align: center;
// }

.footer ul {
  float: right;
  list-style: none;
}

// .footer ul li {
//   float: left;
//   margin-left: 1rem;
// }
//------------------------------------------

.main-container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row_home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 45rem;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 62%;
  padding: 50px 0;
  padding-left: 6px;
  position: relative;
  left: 13rem;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  color: #fff;
}

.btn {
  display: inline-block;
  background: #b16c1d;
  color: #fff;
  padding: 8px 30px;
  margin: 6px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #7a460b;
}
.header {
  background: rgb(209, 163, 14);
  background: linear-gradient(
    146deg,
    rgba(209, 163, 14, 1) 0%,
    rgba(29, 21, 1, 1) 52%
  );
}
